<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.javaspring.dao.BoardMapper">

	<insert id="setBoard">

		insert into lim (
			title
			, contents
			, author
		) values (
			#{title}
			, #{contents}
			, #{author}
		)

	</insert>

	<select id="getBoards" resultType="kr.green.javaspring.dao.Board">
		select 
			*
		from 
			lim
	</select>
	
	<select id="getBoardById" resultType="kr.green.javaspring.dao.Board">
		select 
			*
		from
			lim
		where 
			number = #{number}
	
	</select>
	
	<update id="setUpdate">
		update 
			lim
		set
			title = #{title}
	    	, contents = #{contents}
	    	, author = #{author}
	    where
	    	number = #{number}
 	 </update>
	
	
	<select id="getPageBoards" resultType="kr.green.javaspring.dao.Board"> 
		select 
			*
		from
			lim
		limit
			#{pageStart}, #{perPageNum}
	</select>
	
	
	
</mapper>